[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
gridworld = {git = "git+https://github.com/hpharmsen/gridworld"}
numpy = "*"
tensorboardx = "*"

[dev-packages]
tensorboard = "*"

[requires]
python_version = "3.11"
